<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container">
    <h1><strong><%= @list.name %></strong>(<%= @movies.count%>)</h1>

  </div>
</div>

<div><h1 class="text-center" id="choose">All films of "<%= @list.name %>" list</h1><hr class="w-25 mx-auto mb-5 "></div>
<ul class="d-flex flex-wrap allcards">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product-show">
    <img id="poster" src= "<%= bookmark.movie.poster_url%>"/>
    <div class="card-product-infos">
     <h2><%= bookmark.movie.title %></h2>
     <p><%= bookmark.movie.overview %></p>
     <div>
     <p><i class="fa-solid fa-star"></i>Rating: <%= bookmark.movie.rating %></p>
     <%= bookmark.comment %>
     <div>
     <%= link_to raw('<i class="fa-solid fa-trash"></i>'), bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"pe-2 delete text-warning" %>
     </div>
     </div>
   </div>
  </div>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path, class: "btn btn-ghost" %>
<hr>
<h3 class="text-center mt-3"> Add a bookmark</h3>


<div class="container">
<div class="mt-5 ms-5">
<div class="form-group w-75">
  <%= simple_form_for [@list, @bookmark]  do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%# , collection: Movie.all,
          input_html: {multiple: true, data: {controller: "tom-select"}},
          include_hidden: false, class:"input-group input-group" %>
    <%= f.button :submit, class: "btn btn-ghost" %>
<% end %>
</div>
</div>
</div>
